@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@300&display=swap');
*

body {
    font-family: 'Roboto Slab', Condensed;
    background-image: url(./pexels-eberhard-grossgasteiger-1743392.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-image:url(./pexels-eberhard-grossgasteiger-1743392.jpg) ;
    border: 1px solid #dddddd4e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
    display: block;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #000000;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}

